<h1>Messages#new</h1>
<p>Find me in app/views/messages/new.html.erb</p>

<%= simple_form_for(@message) do |f| %>
  <%= f.input :content, label: "Add a message" %>
  <%= f.submit "Connect"  %>
<% end %>
