<div class="container narrow-container body-container">
  <h1>Connect with <%= @mentor.user.first_name %> </h1>
  <p class="request-to-connect" style="margin-bottom: 30px;
  margin-top: 20px;
  font-size: 20px;"">Send a little message with your request to connect. In this message, you can tell a bit more about yourself, why you want to connect and what you hope to gain from your mentorship.
    </p>
  <%= simple_form_for(@message) do |f| %>
    <%= f.input :content, label: false, placeholder: "Type your message here", as: :text, autofocus: true, input_html: {style: 'width: 100%; font-size: 20px', rows: 4 } %>
    <%= f.submit "Request to connect", class: "new-message-btn" %>
  <% end %>
</div>

