<div class="container narrow-container">
  <h1>Mentor Profile</h1>

  <h3><%= @profile.user.first_name %> <%= @profile.user.last_name %></h3>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

  <% unless Connection.where(mentor: @profile, mentee: @mentee_profile.present? %>
    <%= link_to "Connect", new_message_path %>
  <% end %>

</div>

