<% connections.each do |connection| %>
          <div class="card-connection">
            <div class="card-connection-profile">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
              <div class="card-connection-infos">
                <h2><%= connection.character.user.email %></h2>
                <%= link_to "See profile"  %>
              </div>
            </div>
            <div class="card-connection-progress">
            </div>
          </div>
        <% end  %>
      </div>
