 <% if goal.milestones.present? %>
  <div class="progress progress-<%= goal.id %>" >
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= goal.perc_completed %>%">
    </div>
  </div>
<% else %>
  <div class="progress progress-<%= goal.id %> hide-prg-bar hidden" >
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= goal.perc_completed %>%">
    </div>
  </div>
<% end %>





