<div class="card-ms">
  <% if milestone.is_completed == true %>
    <i class="fas fa-check-square check"></i>
  <% else %>
    <i class="far fa-square check"></i>
  <% end %>

  <p class="ms-descr"><%= milestone.description %></p>
  <div class="ms-edits">
    <a href="" class="edit-ms">Edit</a>
    <div class="ms-undone">
      <% if milestone.is_completed == true %>
        <%= link_to "Undo", mark_path(milestone),
        method: :patch, remote: true, class: "markBtn", data: { milestone_id: milestone.id } %>
      <% else %>
        <%= link_to "Done", mark_path(milestone),
        method: :patch, remote: true, class: "markBtn", data: { milestone_id: milestone.id } %>
      <% end %>
    </div>
  </div>
</div>
