// Specific CSS for your home-page
div {
  display: block;
}

// body {
//   background-color: #faf0e4;
// }

.homepage-container {
  margin: auto;
  width: 65%;
  text-align: center;
}

.home-first h1 {
  color: black !important;
  text-transform: uppercase;
  padding: 15px 0px;
}

.home-first p {
  margin-bottom: 50px;
}

.card-homepage-container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 75%;
}

.card-homepage {
  overflow: hidden;
  background: white;
  width: 33%;
  margin: 10px;
  padding: 10px;
}

.card-homepage h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  margin-bottom: 15px;
}

.card-homepage p {
  font-size: 15px;
  opacity: .7;
  margin: 0;
}









