// Specific CSS for your home-page
div {
  display: block;
}

// body {
//   background-color: #faf0e4;
// }

.company-text {
  margin-top: 250px;
  text-align: center;
  color: white;
}

.head{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 93vh;
}

.container{
  justify-content: space-around;
}

.search-card {
  margin-top: 20px;
}

.card-img {
  height: 200px;
  width: 300px;
}

.mentorship-instruction{
  margin-top: 30px;
}

.text-center {
  margin: 30px
}

.instruction-img {
  margin-left: 130px;
  height: 50px;
  width: 50px;
}

.home-form {
  display: flex;
  justify-content: center;
}

.home-content {
  margin-left: 130px;
  margin-right: 130px;
}

.btn-home {
  text-align: center;
  background-color: #8c0714;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  color: white;
}

.home-cards {
  display: flex;
  justify-content: space-between;
}

.home-card {
  border-style:solid;
  border-width: 5px;
  border-color: black;
}



