
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://www.girlswritenow.org/wp-content/uploads/2016/07/wmpfeature2.jpg);">
  <div class="banner-container">
    <h1><span style="color: #fc407c">ME</span>NTORING FOR <span style="color: #fc407c">WO</span>MEN</h1>
    <%= link_to "Find your mentor", mentors_path, class:"btn btn-default btn-homepage" %>
  </div>
</div>

<div class="homepage-container">
  <div class="home-first">
    <h1>Be inspired.   Build connections.  Set and achieve your goals</h1>
    <p>
      Get that well deserved promotion, break into a new industry or hone your skills. That’s just the start of what our amazing mentors can help with. Whether you're fresh on the job or a seasoned professional, there is always room for a mentor and mentee relationship.
    </p>
  </div>
</div>


<div class="card-homepage-container">
  <div class="card-homepage card-homepage-find">
    <div>
      <h2>1. Find a mentor</h2>
      <p>After you've selected your interests, we'll recommend the super talented mentors that best match your profile, or you can also filter by specific interests. Next, send your chosen mentor a request along with a brief introduction. Then it's time to sit back and relax, you'll hear from them soon.</p>
    </div>
  </div>
  <div class="card-homepage card-homepage-start">
    <div>
      <h2>2. Start a conversation</h2>
      <p>Once your request has been accepted by your chosen mentor it's time to schedule your first mentorship session. This could be an email, a phone call or a chat over coffee. However you choose to start the conversation, remember... the more you put in, the more you’ll get out.</p>
    </div>
  </div>
  <div class="card-homepage card-homepage-goals">
    <div>
      <h2>3. Set and achieve goals</h2>
      <p>We want this to be as beneficial for you as possible, that's why we recommend you and your mentor to set goals and milestones together and track them throughout your relationship. The more goals and the more detailed milestones you set, the more tangible your achievements will be.</p>
    </div>
  </div>
</div>

