
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://www.girlswritenow.org/wp-content/uploads/2016/07/wmpfeature2.jpg);">
  <div class="banner-container">
    <h1><span style="color: #fc407c">ME</span>NTORING FOR <span style="color: #fc407c">WO</span>MEN</h1>
    <%= link_to "Find your mentor", mentors_path, class:"btn btn-default btn-homepage" %>
  </div>
</div>

<div class="homepage-container">
  <div class="home-first">
    <h1>Be inspired. Build connections.</br>Set and achieve your goals</h1>
    <p>
      Get that well deserved promotion, break into a new industry or hone your skills. That’s just the start of what our amazing mentors can help with. Plus, whether you're fresh on the job or a seasoned professional, it won't cost you a penny. We get a kick out of helping aspiring women, and that's why we're keeping this experience free. For everyone.
    </p>
  </div>
</div>


  <div class="mentorship-instruction">
    <div class="text-center">
      <h2>Find your mentor</h2>
    </div>
    <div class="row home-cards">
      <div class="col-md-4 col-xs-6 home-card">
        <div class="home-card-image">

          <%= image_tag 'magnifyingglass.png', class: 'instruction-img' %>
        </div>
        <div class=text-center>
          <p><strong>Find your mentor</strong></p>
          <p>Filter your search to find mentors specific to your needs</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-6 home-card">
        <div class="home-card-image">
          <%= image_tag 'chat.png', class: 'instruction-img' %>
        </div>
        <div class="text-center">
          <p><strong>Chat with mentors</strong></p>
          <p> Message your mentors to talk about your goals and why do you want to be their mentee</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-6 home-card">
        <div class="home-card-image">
          <%= image_tag 'checklist.png', class: 'instruction-img' %>
        </div>
        <div class="text-center">
          <p><strong>Track your goals</strong></p>
          <p>After you've connected, go through your connections page and track or add to your goals and milestones.</p>
        </div>
      </div>
    </div>
  </div>
</div>
