/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */
$lightgrey: #F6F6F6;
$pink: #fc407c;

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $pink;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border: 1px solid $pink;
}
.alert-warning {
  background: $red;
}
