$lightgrey: #F6F6F6;


.new-connection-btn {
  padding: 10px 20px;
  border-radius: 50px;
  opacity: 0.9;
  margin-top: 20px;
}

.new-connection-btn:hover {
  background: $lightgrey;
}

.new-message-btn {
  padding: 5px 20px;
  border-radius: 50px;
  opacity: 0.9;
  font-size: 15px;
}

.btn-default {
  border-radius: 50px;
  padding: 15px;
}

.back-to-connection {
  margin-right: 730px;
}
