$lightgrey: #F6F6F6;
$pink: #fc407c;

.card-mentor-profile {
  overflow: hidden;
  background: linear-gradient(to bottom, black 50%, white 50% );
  box-shadow: 0 0 15px rgba(0,0,0,1);
  display: flex;
  padding: 20px;
  position: relative;
  margin-bottom: 30px;
  height: 300px;
}

.card-mentor h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-mentor p {
  font-size: 20px;
  margin: 0px 0px 10px 0px;
}

.card-mentor .card-mentor-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-mentor-info {
  text-align: center;
  margin-top: 30px;
  margin-left: 40px;
  p {
    font-size: 23px;
  }
}

.card-mentor-info h3 {
  border-bottom: 3px solid $pink;
  margin-top: 120px;
  font-size: 40px;
}

.card-mentor-infos .card-mentor-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-mentor-img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-right: 20px;
}

.connect-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
}

.card-mentor-header h4 {
  font-size: 25px;
  margin-left: 10px;
  font-weight: bold;
  border-bottom: 3px solid #fc407c
}

.card-mentor-header .width-pro {
  width: 250px;
}

.card-mentor-header .width-per {
  width: 210px;
}

.card-mentor-header .width-about {
  width: 120px;
}

.card-mentor-description {
  background: white;
  margin: 10px;
  max-height: 200px;
  font-size: 14px;
  border-radius: 5px;
  overflow: scroll;
}

.card-mentor-profile-body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,1);
  display: flex;
  padding: 20px;
  position: relative;
  margin-bottom: 30px;
}

.card-mentor-all-interests {
  display: flex;
  justify-content: space-between;
  background: white;
  height: 100px;
  font-size: 10px;
  height: 100%;
  border-radius: 5px;
  .interest {
    width:48%;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,1);
    margin-bottom: 20px;
    padding: 20px;
  }
  .interest:first-child {
    margin-right: 10px;
  }
  .interest:last-child {
    margin-left: 10px;
  }
}


.last_body {
  border-radius: 0px 0px 5px 5px;
}

.card-mt-interest p{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 15px;
}

.interest-box {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px;
}

.interest-box p {
  font-size: 16px;
  margin: 0px;
}

