$lightgrey: #C4C4C4;

.card-goal {
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
  position: relative
}

.card-goal h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-goal p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-goal .card-goal-descr {
  padding: 16px;
}

.card-goal-descr {
  border-bottom: 1px solid $lightgrey;
  width: 100%;
  position: absolute;
  top: 0;
  left: 10;


}
