$lightgrey: #C4C4C4;
$blue: #1b4e88;
$cream: #faf0e4;
$pink: #fc407c;

.card-goal {
  min-height: 100px;
  max-height: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-goal h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-goal .card-goal-descr {
  padding: 16px 20px 16px 20px;
}

.empty-milestones {
  padding: 16px;
  font-size: 12px;
  opacity: 0.7;
  text-align: center;
}

.card-goal-descr {
  border-bottom: 2px solid $lightgrey;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-milestones {
  width: 100%;
  overflow-y: scroll;
  max-height: 250px;
  border-bottom: 1px solid $lightgrey;
}

.card-ms {
  border-bottom: 1px dotted $lightgrey;
  width: 100%;
  padding: 5px 45px 10px 45px;
  display: flex;
  a, p {
    font-size: 14px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  .check {
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.ms-descr {
  margin-left: 20px;
}

.card-ms .ms-edits {
  margin-left: auto;
  display: flex;
}

.card-ms a {
  margin-left: 10px;
  margin-top: 4px;
  margin-bottom: 0px;
}

.add-ms-btn {
  font-size: 14px;
  border: none;
  justify-content: flex-end;
  margin-right: 25px;
}

.goal-bottom-box {
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.new-goal-btn {
  margin: 20px;
}

.new-goal-container {
  width: 100%;
  padding: 20px;
}

.new-goal-container {
  font-size: 14px;
}

.progress {
  width: 30%;
  margin: 0px;
  height: 18px;
}

.progress-bar {
  height: 30px;
}

.progress-bar-success {
  background: $blue;
}




