.card-connection {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px;
}

.card-connection img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-connection h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-connection p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-connection .card-connection-infos {
  padding: 16px;
}
