$lightgrey: #F6F6F6;
$pink: #fc407c;

.profile-full-container {
  width: 60vw;
  margin: auto;
}
.card-mentor-profile {
  overflow: hidden;
  background: linear-gradient(to bottom, #1b4e88 50%, white 50% );
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  padding: 20px;
  position: relative;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 20px;
}

.card-mentor h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-mentor p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.card-mentor .card-mentor-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-mentor-info {
  text-align: center;
}

.card-mentor-info h3 {
  border-bottom: 3px solid $pink;
  margin-top: 120px;
}

.card-mentor-infos .card-mentor-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-mentor-img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-right: 20px;
}

.connect-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.card-mentor-header h4 {
  font-size: 17px;
  margin-left: 10px
}

.card-mentor-description {
  background: $lightgrey;
  margin: 10px;
  max-height: 200px;
  padding: 20px;
  font-size: 14px;
  border-radius: 5px;
  overflow: scroll;
}

.card-mentor-profile-body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
}

.card-mentor-all-interests {
  display: flex;
  justify-content: space-between;
  background: $lightgrey;
  height: 100px;
  font-size: 10px;
  height: 100%;
  border-radius: 5px;
  .interest {
    width:48%;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-bottom: 20px;
  }
  .interest:first-child {
    margin-right: 10px;
  }
  .interest:last-child {
    margin-left: 10px;
  }
}

.card-more-details {
  background: $lightgrey;
  margin: 20px;
  height: 100px;
}

.last_body {
  border-radius: 0px 0px 5px 5px;
}

.card-mt-interest {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: #8c0714;
  color: white;
  margin-top: 3px;
  margin-bottom: 3px;
}

.card-mt-interest p{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 15px;
}

