.form-login {
  border: 1px solid #fc407c;
  margin: 30px 20px;
  padding: 10px 30px;
  padding-bottom: 30px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
  }
  .form-inputs {
    font-size: 15px;
  }
  .btn {
    width: 100%;
    margin-bottom: 19px;
    font-weight: lighter;
  }
}
