$lightgrey: #F8F8F8;
$blue: #1b4e88;
$cream: #faf0e4;

.inbox-container {
  width: 100%;
  background: $lightgrey;
  display: flex;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.nav-tabs.tab-horizontal {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-tabs.tab-horizontal > li.active > a, .nav-tabs.tab-horizontal > li.active > a:hover {
  border: none;
  background: white;
}

.nav-tabs.tab-horizontal > a:hover {
  border: none;
}

.nav-tabs.tab-horizontal > li.active > a {
  background: $lightgrey !important;
}

.inbox-container a.inbox_chat {
  display: flex;
}

.inbox-container .inbox-chat {
  margin: 0;
}

.inbox_chat img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid $lightgrey;
  margin-top: 6px;
}

.chat_ib h5 {
  font-size: 15px;
  margin-left: 10px;
}

.messages-container {
  background: white;
  width: 70vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 0px 5px 5px 0px;
}

.message-box {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.one-message-box {
  position: relative;
  height: 100px;
}

.message-box .right-message {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}

.message-box .left-message {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

.message-box .right-message .message-content {
  background: rgba(27,78,136,0.2);
  padding: 10px;
  border-radius: 3px;
  font-size: 10px;
}

.message-box .left-message .message-content {
  background: $cream;
  padding: 10px;
  border-radius: 3px;
  font-size: 10px;
}

.message-box .message-time {
  font-size: 8px;
}

.new-message-box {
  height: 150px;
  width: 100%;
}

.new-message-btn {
  position: relative;
  font-size: 12px;
}

.simple_form div.input .message-input {
  height: 100px;
}




