$blue: #1b4e88;
$red: #8c0714;
$lightgrey: #F8F8F8;


.search-bar-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
  font-style: bold;
  border-bottom: 1px solid black;
  margin: 45px 0px;
}

.search-bar {
  margin-left: 40px;
  color: black;
}

.search-btn {
  color: black;
  border-radius: 50px;
}

.filter-box {
  margin-left: 10px;
  margin-bottom: 0;
}



