$blue: #1b4e88;
$red: #8c0714;
$lightgrey: #F8F8F8;


.search-bar-container {
  padding: 10px;
  color: white;
  font-style: bold;
  border-bottom: 1px solid black;
  margin: 45px 0px;
}

.search-bar {
  color: black;
  display: flex;
  width: 100%
}

.search-btn {
  color: black;
  border-radius: 50px;
  opacity: 0.5;
  margin: 0px 20px;
}

.filter-box {
  margin-left: 10px;
  margin-bottom: 0;
}

.interest_select {
  border: none;
  background: none;
  color: black;
  opacity: 0.5;
  margin: 0px 20px;
}

.search_form_box {
  width: 100%;
  display: flex;
  justify-content: center;
}



