$pink: #FC407C;
$grey: #999999;

.nav-tabs {
  border-bottom: none !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: none;
  border-bottom: 3px solid $pink;
}

.nav-tabs > li > a {
  color: $grey !important;
}

.nav-tabs > li.active > a {
  color: black !important;
}

.nav-tabs a:hover {
}
