$pink: #FC407C;
$grey: #999999;
$blue: #1b4e88;
$red: #8c0714;


.nav-tabs {
  border: none;
}

.nav-tabs.tab-vertical {
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  text-transform: uppercase;
  h2 {
    font-size: 30px;
  }
}

.nav-tabs.tab-vertical > li.active > a, .nav-tabs > li.active > a:hover {
  border: none;
}

.nav-tabs.tab-vertical > li > a {
  color: $grey !important;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 50px;
}

.nav-tabs.tab-vertical > li.active > a {
  color: black !important;
  h2 {
    font-weight: bold;
  }
}

.nav-tabs > li.active > a {
  background-color: none;
}
